* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: inherit;

  box-sizing: border-box;
  div {
    display: block;
    unicode-bidi: isolate;
    a:hover {
      outline-width: 0;
      background-color: transparent;
    }
  }
}

/* Main section */
.banner_container {
  margin-top: 50px;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items,
.items-container {
  width: 80%;
  margin: 100px 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}
.results-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin: 0 -10px 0 3px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.item-container {
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px 16px 50px;
}

.item-image {
  width: 210px;
  height: 280px;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color: black;
}

.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/*main section*/

.banner_containerNEW {
  margin: 40px 0;
}

.banner-imgNEW {
  width: 100%;
  margin-top: 41px;
}

.category_headingNEW {
  color: #3e4152;
  letter-spacing: 0.15rem;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_itemsNEW {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_itemNEW {
  width: 250px;
}
.discount-button {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  right: 0;
  border: none;
  -webkit-font-smoothing: antialiased;
}
.discount-text {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  width: 36px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  font-size: 21.5px;
  font-weight: 700;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #fcfcfc;
  display: inline-block;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.arrow {
  border-right: 14px solid #fff;

  width: 0;
  height: 0;
  margin: 24px 16px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.arrowSecond {
  border-right: 14px solid #fff;
  width: 0;
  height: 0;
  margin: 24px 16px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transform: rotate(180deg); /* Add this line */
}

.FreeShippingBanner-description {
  display: table-cell;
  vertical-align: middle;
  padding: 24px 0 0 40px;
  height: 149.75px;
  width: 300.69px;
}

.FreeShippingBanner-image {
  display: table-cell;
  vertical-align: middle;
  padding: 24px 40px 0 0;
  height: 149.75px;
  width: 275.31px;
}

.FreeShippingBanner-coupon {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  height: 92px;
  width: 304.35px;
}

.FreeShippingBanner-signup {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-right: 40px;
  height: 92.15px;
  width: 271.65px;
}
.FreeShippingBanner-imageContent {
  width: 150px;
  height: 120px;
}
.FreeShippingBanner-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.FreeShippingBanner-text {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 172px;
  display: inline-block;
  line-height: 48px;
}

.FreeShippingBanner-coupon .FreeShippingBanner-text {
  font-weight: 700;
  font-size: 15px;
  margin-top: 8px;
}

.full-block {
  height: 288px;
  width: 576px;
}

.FreeShippingBanner-text {
  font-size: 13px;
  font-weight: 700;
  margin-left: 12px;
}

.FreeShippingBanner-header {
  font-size: 48px;
  font-weight: 700;
}

.FreeShippingBanner-pre-header {
  font-weight: 700;
  font-size: 12px;
}

.FreeShippingBanner-code {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: text;
  user-select: all;
}

.FreeShippingBanner-banner-expanded {
  position: fixed;
  bottom: 130px;
  right: 0;
  width: 576px;
  height: 288px;
  background-image: linear-gradient(270deg, #fef9e5, #fde3f3);
  z-index: 6;
  font-family: Assistant;
  color: #3e4152;
  cursor: default;
}

.FreeShippingBanner-first-row {
  display: table;
  table-layout: auto;
  height: 52%;
  width: 100%;
}

.FreeShippingBanner-second-row {
  display: table;
  table-layout: auto;
  height: 32%;
  width: 100%;
}
.FreeShippingBanner-footer {
  font-size: 12px;
  margin-top: 4px;
}

.FreeShippingBanner-header-primary {
  font-size: 48px;
}
.FreeShippingBanner-header-secondary {
  font-size: 34px;
}
.FreeShippingBanner-button {
  width: 172px;
  height: 48px;
  border-radius: 4px;
  background-color: #ff3f6c;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.FreeShippingBanner-bannerExpanded {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  right: 575px;
  border: none;
}

.FreeShippingBanner-trust-builders {
  display: table;
  table-layout: auto;
  border-top: 1px solid #d3d3d3;
  height: 16%;
  width: 100%;
}

.myntracoupan {
  display: flex;
  align-items: center;
  height: 23.2px;
  width: 264.35px;
}
.myntracoupan {
  display: flex;
  align-items: center;
  width: auto;
}

.FreeShippingBanner-textFor {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: auto;
  display: inline-block;
  line-height: 48px;
}

.FreeShippingBanner-codeFor {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: text;
  user-select: all;
  font-size: 18px;
  font-weight: 700;
  color: #3e4152;
}

.headerEmptyBag {
  border-bottom: 1px solid #f5f5f6;
  font-size: 12px;
  font-weight: 600;
  height: 78.8px;
  width: 1519.2px;
}
.headerEmptyBag.site-nav-container {
  height: 78px;
}

.site-nav-container {
  background-color: #fff;
  width: 100%;
  min-height: 78px;
  max-width: 92%;
  margin: auto;
}

.headerEmptyBag.checkout-steps {
  margin: 0 0 0 34%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}

.headerEmptyBag .checkout-steps .active {
  color: #20bd99;
  border-bottom: 2px solid #20bd99;
}
.headerEmptyBag .checkout-steps .step1 {
  margin: 0 5px 0 0;
}
.headerEmptyBag .checkout-steps .step {
  display: inline-block;
  letter-spacing: 3px;
}

.headerEmptyBag .checkout-steps .divider {
  display: inline-block;
  border-top: 1px dashed #696b79;
  height: 4px;
  width: 10%;
}

.header .checkout-steps .step3 {
  margin: 0 0 0 7px;
}
.headerEmptyBag .checkout-steps .steppayment {
  margin: 0 0 0 7px;
}

.headerEmptyBag .secureContainer {
  float: right;
  max-height: 78px;
}
.secureIcon {
  height: 28px;
  width: 26px;
}

.headerEmptyBag .secureContainer .secureIcon {
  margin: -7px 5px 0 0;
}

.headerEmptyBag .secureContainer .secure {
  float: right;
  letter-spacing: 3px;
  color: #535766;
  margin: 0 20px 0 0;
}

.page {
  height: 600px;
  width: 1519.2px;
}

.desktop-base-emptyCart {
  max-width: 650px;
  margin: 24px auto;
}
.emptyCart-base-mainContainer {
  min-height: 600px;
  position: relative;
  background-color: #fff;
}

.emptyCart-base-subContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 400px;
  text-align: center;
}
.emptyCart-base-emptyBagImage {
  margin-bottom: 10px;
  margin-top: 10px;

  background: none;
  height: 165px;
  width: 146px;
}
.imageBanner-base-container {
  display: inline-block;
}

.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.emptyCart-base-emptyText {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
}
.emptyCart-base-emptyDesc {
  font-size: 14px;
  color: #7e818c;
}
.emptyCart-base-addFromWishlist {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}

.emptyCart-base-addFromWishlist .emptyCart-base-wishlistButton {
  background: #fff;
  color: #ff3f6c;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #ff3f6c;
  display: inline-block;
  margin-top: 21px;
}

.button-base-button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  background: #ff3f6c;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
}

/* EmptyBag.css */

.checkout-steps {
  margin: 0 0 0 15%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}

.checkout-steps li {
  margin-right: 10px;
}

.secure-icon {
  margin-right: 5px;
}
/*new header ooooooooooooooooooooooooooooooookkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.desktop-container {
  color: #fff;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: block;
}
.desktop-bound {
  margin: auto;
  min-width: 980px;
  line-height: 80px;
}

.desktop-logoContainer {
  height: 78px;
  width: 53px;
  float: left;
  height: inherit;
  margin-left: 4%;
}
.BaglogoContainer {
  height: 78px;
  width: 54px;
}
.desktop-iconBag,
.desktop-iconWishlist {
  margin: 8px 0 0;
  position: absolute;
  bottom: 14px;
}
.desktop-iconBag {
  left: -1px;
}
.sprites-headerBag {
  width: 22px;
  height: 22px;
  background-position: -341px -56px;
}
.myntraweb-sprite {
  background-size: 1404px 105px;
}
.sprites-headerLogo {
  width: 53px;
  height: 36px;
  background-position: -462px 0;
}
.desktop-logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.desktop-navbar {
  display: block;
  float: left;
  line-height: 80px;
  height: 80px;
  margin: 0 0 0 3.5%;
}
.desktop-navLinks {
  display: inline-block;
}

.desktop-navContent {
  float: left;
  border: hidden;
  text-align: center;
}
element.style {
  border-bottom-color: #ee5f73;
}
.desktop-main {
  padding: 0 13.7px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  border-bottom: none;
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 700;
  text-transform: uppercase;
}
.desktop-navLinks a:hover {
  border-bottom: 4px solid;
  transition: left 0.2s ease-out, width 0.2s ease-out;
}

.desktop-backdropStyle,
.desktop-backdropStyle2 {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  pointer-events: none;
}
.desktop-backdropStyle {
  visibility: hidden;
}

.desktop-newPaneContent,
.desktop-paneContent {
  visibility: hidden;
  text-align: left;
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}
.desktop-paneContent {
  height: 440px;
  width: 1135px;
  z-index: 1;
  left: 9%;
  margin: auto;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
ul {
  list-style: none;
}
.desktop-navContent:hover .desktop-categoryContainer {
  visibility: visible;
  opacity: 1;
}
.desktop-categoryContainer {
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  width: 1110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  padding: 0 10px 10px 15px;
  transition: all 0.2s ease-out;
}
.desktop-studioLogNew {
  display: block;
  width: 103.1px;
  height: 29.5px;
  margin: 20px 220.9px 0 221px;
}
.desktop-YourDailyInspiration {
  display: block;
  width: 288px;
  height: 22px;
  margin: 9.5px 129px 0 128px;
  font-family: Assistant;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #535766;
}
.desktop-studioNavBanner {
  display: block;
  width: 514px;
  height: 274px;
  margin: 27px 16px 0 15px;
}

.desktop-oddColumnContent {
  float: left;
  display: block;
  position: relative;
  height: 436px;
  padding-top: 4px;
}

.desktop-navBlock {
  display: block;
  position: relative;
  float: left;
  width: 216px;
  margin: 0;
  padding: 0;
}

.desktop-navBlock > li {
  padding-left: 25px;
}
.desktop-categoryLink,
.desktop-categoryName {
  display: block;
  font-size: 14px;
  text-decoration: none;
}
.desktop-categoryName {
  text-transform: capitalize;
  color: #3e4152;
  padding: 12px 0 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
  font-weight: 700;
}
.desktop-navBlock > li {
  padding-left: 25px;
}
.desktop-categoryLink {
  color: #282c3f;
  line-height: 23px !important;
  font-weight: 400;
}
.desktop-categoryLink,
.desktop-categoryName {
  display: block;
  font-size: 14px;
  text-decoration: none;
}
.desktop-hrLine {
  width: 140px;
  height: 1px;
  margin: 12px 0 0 25px;
  background-color: #eaeaec;
}
.desktop-evenColumnContent {
  background-color: rgba(245, 245, 246, 0.4);
}

.desktop-newNavLink {
  display: inline;
  width: 23px;
  height: 12px;
  margin: 0 0 34px -15px;
  font-family: Assistant;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff3f6c;
  content: "new";
}
sup {
  top: -0.4rem;
  font-size: 100%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  text-transform: uppercase;
}

.desktop-backdropStyle,
.desktop-backdropStyle2 {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  pointer-events: none;
}
.desktop-newPaneContent {
  height: 454px;
  width: 545px;
  margin: 1px 892px 0 354px;
  z-index: 100;
}
.desktop-newPaneContent,
.desktop-paneContent {
  visibility: hidden;
  text-align: left;
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}
.desktop-studioLogNew {
  display: block;
  width: 103.1px;
  height: 29.5px;
  margin: 20px 220.9px 0 221px;
}
.desktop-YourDailyInspiration {
  display: block;
  width: 288px;
  height: 22px;
  margin: 9.5px 129px 0 128px;
  font-family: Assistant;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #535766;
}
.desktop-studioNavBanner {
  display: block;
  width: 514px;
  height: 274px;
  margin: 27px 16px 0 15px;
}
.desktop-exploreStudioBtn {
  min-width: 164px;
  height: 40px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  margin: 16px 176px 0 174px;
  border-radius: 2px;
  border: 1px solid #d4d5d8;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  color: #282c3f;
}
.desktop-exploreStudioBtn:hover {
  outline: none;
}
.desktop-exploreStudioLabel {
  min-width: 109px;
  font-family: Assistant;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #282c3f;
}
.desktop-chevronRight,
.desktop-exploreStudioLabel {
  height: 20px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.desktop-actions {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  height: 40px;
  margin: 20px 30px 0 10px;
}
.desktop-user {
  position: relative;
  height: 60px;
  margin: 0 20px 0 15px;
}
.desktop-userIconsContainer {
  display: -ms-flexbox;
  padding: 0 12px 0 17px;
  position: relative;
  display: flex;
  height: 40px;
}
.desktop-iconUser {
  margin: 10px 0 0;
  position: absolute;
  bottom: 13px;
  left: 5px;
  display: block;
}

.sprites-headerUser {
  width: 24px;
  height: 24px;
  background-position: -298px -56px;
}
.myntraweb-sprite {
  background-size: 1404px 105px;
}
.desktop-userTitle {
  color: #000;
  position: absolute;
  bottom: 4px;
  left: 1px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  line-height: 6px;
}
.desktop-userActions {
  width: 250px;
  left: -137.5px;
  top: 62px;
  position: absolute;
  padding: 25px 20px 15px;
  z-index: 9;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  background-color: #fff;
  color: #3e4152;
  border: 1px solid #f5f5f6;
  margin: -2px 0;
  visibility: hidden;
  opacity: 0;
}

.desktop-user:hover .desktop-userActions {
  visibility: visible;
  opacity: 1;
}
.desktop-userActionsArrow {
  display: block;
  top: -5px;
  position: absolute;
  width: 58px;
  border-bottom: 4px solid #f16565;
  left: 124px;
}
.desktop-userActionsContent {
  display: block;
}
.desktop-contentInfo {
  display: block;
  padding-bottom: 2px;
}
.desktop-infoEmail,
.desktop-infoTitle {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 10px;
}
.desktop-infoTitle {
  font-weight: 700;
  height: 20px;
}
.desktop-infoEmail {
  height: 14px;
  color: #282c3f;
}

.desktop-infoEmail,
.desktop-infoTitle {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 10px;
}
.desktop-getUserInLinks {
  border: none;
}

.desktop-getInLinks {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #eaeaec;
}
.desktop-linkButton:first-child {
  margin: 0 5px 6px 0;
}

.desktop-linkButton {
  display: inline-block;
  padding: 18px 20px;
  margin: 10px 10px 0 0;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ff3f6c;
  font-weight: 700;
}
.desktop-info {
  font-weight: 400;
  font-size: 14px;
  color: #3e4152;
}
.desktop-infoSection {
  margin: 0;
  cursor: pointer;
  padding: 15px 0 10px !important;
}
.desktop-superscriptTag {
  width: 25px;
  height: 7px;
  padding: 5px 0 0 5px;
  background: #ff3f6c !important;
  border: 1px solid #ff3f6c !important;
  color: #fff;
  font-weight: 900;
  margin: -6px 0 -10px 10px;
  font-size: 10px;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  display: inline-block;
  border-radius: 2px;
}
.desktop-wishlist {
  margin: 0 55px 0 10px;
}
.desktop-cart,
.desktop-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
}
.desktop-iconWishlist {
  left: 13px;
}

.desktop-iconBag,
.desktop-iconWishlist {
  margin: 8px 0 0;
  position: absolute;
  bottom: 14px;
}
.sprites-headerWishlist {
  width: 17px;
  height: 22px;
  background-position: -315px -187px;
}

.desktop-userTitle {
  color: #000;
  position: absolute;
  bottom: 4px;
  left: 1px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  line-height: 6px;
}
.desktop-cart,
.desktop-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
}
.desktop-cart {
  margin: 0 50px 0 15px;
}
.desktop-iconBag,
.desktop-iconWishlist {
  margin: 8px 0 0;
  position: absolute;
  bottom: 14px;
}

.desktop-iconBag {
  left: -1px;
}
.sprites-headerBag {
  width: 22px;
  height: 22px;
  background-position: -341px -56px;

  color: #282c3f;
}
.desktop-melon {
  background-color: #f16565;
}

.desktop-grey {
  background-color: #7e818c;
  visibility: hidden;
}
.desktop-badge {
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  background: #ff3f6c;
  position: absolute;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -2px;
  font-weight: 700;
}

.desktop-query,
.desktop-queryPincode {
  float: right;
  line-height: 0;
  position: relative;
}
.desktop-query {
  margin: 20px 20px 20px 40px;
  width: 32%;
}
.desktop-query > input.desktop-searchBar,
.desktop-queryPincode > input.desktop-searchBar {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  color: #696e79;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}
.desktop-query > input.desktop-searchBar {
  width: 95%;
}
.desktop-submit {
  box-sizing: content-box;
  display: inline-block;
  height: 28px;
  width: 40px;
  text-align: center;
  padding: 8px 0 2px;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  border-right: none;
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: -41px;
}
.desktop-caret,
.desktop-iconSearch {
  transform: scale(0.7);
}

.desktop-iconSearch {
  display: inline-block;
}
.desktop-navContent {
  float: left;
  border: hidden;
  text-align: center;
}
.desktop-navLink {
  display: inline;
}

.desktop-main:hover + .desktop-backdropStyle {
  visibility: visible;
}
.desktop-main:hover + .desktop-backdropStyle .desktop-paneContent {
  visibility: visible;
  opacity: 1;
}
.desktop-main:hover + .desktop-backdropStyle .desktop-categoryContainer {
  visibility: visible;
  opacity: 1;
}
.desktop-categoryContainer {
  height: 450px;
  width: 1135px;
}
.desktop-oddColumnContent {
  height: 440px;
  width: 216px;
}
.desktop-navBlock {
  height: 390px;
  width: 216px;
}

.desktop-categoryName {
  height: 39px;
  width: 191px;
}
.desktop-navLink:hover .desktop-newPaneContent,
.desktop-navLink:hover .desktop-paneContent {
  visibility: visible;
  opacity: 1;
  pointer-events: auto; /* Allow interaction when hovered */
}
.desktop-categoryLink.desktop-categoryLink:hover {
  border-bottom: none;
  cursor: pointer;
}

.desktop-categoryName.desktop-categoryName:hover {
  border-bottom: none;
}
a {
  text-decoration: none;
  border-bottom: none;
}
.desktop-infoEmail {
  border-bottom: none;
}
/*new BAG  NEW header ooooooooooooooooooooooooooooooookkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.headerEmptyBag .container {
  line-height: 78px;
}
.site-nav-container {
  display: flex;
  align-items: center;
}

.secureContainer {
  max-height: 78px;
  margin-left: 169px;
}
.checkout-steps {
  margin: 0 0 0 32.7%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}
.desktop-navLinks {
  height: 80.8px;
}

.desktop-logoContainer {
  float: left;
  height: inherit;
  margin-left: 4%;
}

/*WISHLIST CONTAINER ooooooooooooooooooooooooooooooookkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
.wishlistLogin-container {
  max-width: 980px;
  margin: 253px auto 180px;
  text-align: center;
}
.wishlistLogin-heading {
  font-size: 20px;
  font-weight: 600;
  color: #282c3f;
  height: 26.4px;
}
.wishlistLogin-info {
  font-size: 18px;
  color: #94989f;
  max-width: 380px;
  margin: 20px auto 0;
}
.wishlistLogin-icon {
  margin: 43px 0 50px;
  display: inline-block;
}
.sprites-emptyIcon {
  width: 96px;
  height: 105px;
  background-position: -1163px 0;
}
.myntraweb-sprite {
  background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
  display: inline-block;
}
.wishlistLogin-button {
  border: 1px solid #3466e8;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  padding: 14.5px 51px;
  color: #3466e8;
  cursor: pointer;
  display: inline-block;
}
.loadingSpinner {
  margin-top: 150px;
}
/*baaaaaggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg items css------------------------------*/

.bagggggggggg {
  display: flex;
  font-family: Assistant, Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  line-height: 1.42857143;
  color: #424553;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 281px;
  position: absolute;
}
.desktop-base-cartLayout {
  font-family: Assistant, Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 336px;
  padding: 0 10px 16px;
  min-height: 320px;
  color: #282c3f;
  margin-top: 310px;
  margin-left: 270px;
  margin-bottom: -440px;
}

.itemBlock-base-leftBlock {
  font-size: 13px;
  color: #282c3f;
  user-select: none;
  display: inline-block;
  width: 614.4px;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
}
.addressStripV2-base-desktopContainer {
  font-size: 13px;
  color: #282c3f;
  user-select: none;
  margin-bottom: 8px;
  background-color: #fff6f4;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eaeaec;
  cursor: pointer;
}
.addressStripV2-base-title {
  color: #282c3f;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addressStripV2-base-title span {
  color: #282c3f;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  max-width: 74%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addressStripV2-base-changeBtnDesktop {
  cursor: pointer;
  font-weight: 700;
  color: #ff3f6c;
  position: relative;
  font-size: 12px;
  padding: 8px 16px;
  border: 1px solid #ff3f6c;
  border-radius: 4px;
  margin-right: 0;
}
.messageContainer-base-messageContainer {
  display: flex;
  flex-direction: column;
}
.offersV2-base-container {
  background: #fff;
  margin-bottom: 10px;
  padding: 16px 18px 12px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  font-size: 13px;
  position: relative;
}
.offersV2-base-title {
  font-weight: 700;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 12px;
  color: #282c3f;
}
.offersV2-base-message {
  padding-left: 15px;
  text-indent: -15px;
  list-style: none;
  white-space: normal;
  margin-bottom: 8px;
}
.offersV2-base-more {
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ff3f6c;
  cursor: pointer;
  display: inline-block;
}
.bulkActionStrip-desktopContainer {
  line-height: 15px;
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 0 12px 0 10px;
  font-weight: 700;
  font-size: 16px;
  color: #282c3f;

  height: 32px;
  width: 593.6px;
}
.bulkActionStrip-desktopButton {
  border-top: 0;
  margin-left: auto;
}
.bulkActionStrip-iconDiv,
.bulkActionStrip-selectionIcon {
  display: flex;
  height: 32px;
  align-items: center;
  width: 32px;
  justify-content: center;
}
.bulkActionStrip-message {
  display: flex;
  flex-wrap: wrap;
}
.bulkActionStrip-itemSelected {
  margin-right: 2px;
  text-transform: uppercase;
  color: #282c3f;
}
.removefrombagbtn {
  width: auto;
  margin: 0;

  display: inline-block;
  text-align: center;
  width: 68.1px;
  height: 32px;
}
.Movetowishlistbtn {
  border-left: 1px solid #d4d5d9;

  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 12px 0;
  width: 125px;
  height: 32px;
}
.removeinside {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  line-height: inherit;
  outline: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #535766;
  padding: 6px 24px 6px 0;
  height: 32px;
}
.Movetowishlistbtninside {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #535766;
  height: 32px;
}
.bulkActionStrip-desktopActionButton {
  width: auto;
  margin: 0;
}
.inlinebuttonV2-base-action {
  display: inline-block;
  text-align: center;
  margin: 12px 0;

  width: 68.1px;
  height: 32px;
}
.bulkActionStrip-desktopButton {
  border-top: 0;
  margin-left: auto;
}
.bulkActionStrip-desktopActionButton {
  width: auto;
  margin: 0;
}
.bulkActionStrip-desktopBulkRemove {
  color: #535766;
  padding: 6px 24px 6px 0;
  height: 32px;
}
.bulkActionStrip-desktopBulkRemove {
  color: #535766;
  padding: 6px 24px 6px 0;
  height: 32px;
}
.inlinebuttonV2-base-actionButton {
  text-transform: uppercase;
  font-weight: 700;
  color: #696b79;
  padding: 0;
  height: 20px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
.itemContainer-base-itemLink {
  display: block;
  color: #282c3f;
}
.priceDetail-base-spaceRight {
  padding-right: 4px;
}
.priceDetail-base-striked {
  text-decoration: line-through;
}
.itemContainer-base-brand {
  font-weight: 700;
}
.itemContainer-base-brand {
  margin-bottom: 4px;
}
.itemContainer-base-brand,
.itemContainer-base-itemLink,
.itemContainer-base-itemName {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px;
}

.itemContainer-base-details,
.itemContainer-base-itemLink {
  text-decoration: none;
  padding-bottom: 0;
  margin-right: 6px;
}
.itemContainer-base-brand,
.itemContainer-base-itemLink,
.itemContainer-base-itemName {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
.inlinebuttonV2-base-action:last-child {
  border-left: 1px solid #d4d5d9;
}
.bulkActionStrip-desktopActionButton {
  width: auto;
  margin: 0;
}
.inlinebuttonV2-base-action {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 12px 0;
}
.bulkActionStrip-desktopBulkWishlist {
  padding: 6px 0 6px 24px;
  color: #535766;
  height: 32px;
}
.itemContainer-base-itemMargin:last-child {
  margin-bottom: 0;
}
.item-base-item {
  position: relative;
}
.itemContainer-base-item {
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}
.itemContainer-base-itemLeft {
  position: absolute;
}
.itemContainer-base-selectionIndicator {
  position: absolute;
  left: -9px;
  top: -12px;
}
.itemComponents-base-animationContainer {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 18px;
  left: 14px;
}
.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.itemContainer-base-itemRight {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}
.itemContainer-base-details {
  min-height: 97px;
}

.itemContainer-base-details,
.itemContainer-base-itemLink {
  text-decoration: none;
  padding-bottom: 0;
  margin-right: 6px;
}
.itemContainer-base-brand {
  font-weight: 700;
}
.itemContainer-base-brand {
  margin-bottom: 4px;
}
.itemComponents-base-sellerContainer {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
}
.itemComponents-base-sellerData {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 62%;
  display: inline;
  color: #94969f;
}
.itemContainer-base-sizeAndQtyContainer {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.itemContainer-base-sizeAndQty {
  display: flex;
  flex-wrap: wrap;
  margin-right: 8px;
}
.itemComponents-base-size {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 8px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 700;
  cursor: pointer;
  margin-right: 12px;
  border-radius: 2px;
  line-height: 16px;
}
.itemContainer-base-closeIcon {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.itemComponents-base-quantity {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 8px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  line-height: 16px;
}
.itemComponents-base-lowUnitCount,
.itemComponents-base-oosMessage,
.itemComponents-base-sizeNotAvailable {
  font-size: 10px;
  padding: 1px 4px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: #ff5722;
  font-weight: 700;
  border: 1px solid #ff5722;
}
.itemContainer-base-price {
  display: flex;
}
.itemComponents-base-bold {
  font-weight: 700;
}
.itemComponents-base-price {
  display: inline-block;
  color: #282c3f;
}
.itemContainer-base-discountBlock {
  display: flex;
}
.itemComponents-base-strikedAmount {
  display: inline-block;
}
.itemComponents-base-price.itemComponents-base-strike {
  color: #94969f;
  padding: 0 8px;
}
.itemComponents-base-itemDiscount {
  color: #f16565;
}
.itemComponents-base-returnInfoContainer {
  height: 22px;
}
.itemComponents-base-returnPolicyMessage {
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}
.itemComponents-base-messageText {
  display: inline-block;
}

.itemComponents-base-message {
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
  white-space: pre-wrap;
}
.itemComponents-base-returnPolicyMessage .itemComponents-base-highlight {
  font-weight: 700;
}
.itemComponents-base-messageContainer {
  margin-top: 4px;
}
.itemComponents-base-message {
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
  white-space: pre-wrap;
}
.itemComponents-base-deliveryDateContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.itemComponents-base-deliveryIconStyle {
  height: 21px;
}
.itemComponents-base-messageText {
  display: inline-block;
}

.itemComponents-base-highlightedMessage {
  font-weight: 700;
}
.itemComponents-base-orderWithinTimer {
  font-size: 12px;
  margin-top: -9px;
}
.loginNudge-base-mainContainer {
  background: #fff;
  border: 1px solid #eaeaec;
  padding: 9px 0 9px 12px;
  border-radius: 4px;
  margin-top: 24px;
  display: flex;
}
.loginNudge-base-messageIcon {
  padding: 0;
  margin-right: 10px;
  width: 140px;
  height: 60px;
}

.imageBanner-base-container {
  display: inline-block;
}
.loginNudge-base-messageContainer {
  margin-right: 12px;
  width: 100%;
}
.loginNudge-base-message {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}
.loginNudge-base-loginCTA {
  float: right;
  color: #ff3f6c;
  font-size: 12px;
  margin-top: 22px;
  font-weight: 700;
  cursor: pointer;
}
.NEWcartItemsList {
  width: 593.6px;
  margin-bottom: 8px;
}

.desktop-base-right {
  vertical-align: top;
  display: inline-block;
  padding: 24px 0 0 16px;
  width: 336px;
}
.desktop-iconSearch {
  color: #282c3f;
  text-align: center;
  box-sizing: inherit;
  width: 21px;
  height: 21px;
  background-position: -754px 0;
  display: inline-block;
  transform: scale(0.8);
}
.desktop-submitbtn :hover {
  background: none;
}
.coupons-base-header {
  font-size: 12px;
  font-weight: 700;
  color: #535766;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.coupons-base-content {
  padding-bottom: 12px;
  position: relative;
  border-bottom: 1px solid #f5f5f6;
  padding-left: 36px;
}
.coupons-base-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 0;
}
.css-15k6cs5 {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow: visible;
  text-transform: none;
  font-family: inherit;
  line-height: inherit;
  outline: 0;
  padding: 4px 16px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 700;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 63, 108);
  border-color: rgb(255, 63, 108);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.css-xjhrni {
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}
.coupons-base-couponMessage {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.coupons-base-logIn {
  color: #ff3f6c;
  font-weight: 700;
  cursor: pointer;
}
.giftWrap-base-container {
  padding-bottom: 12px;
  border-bottom: 1px solid #f5f5f6;
}
.giftWrap-base-header {
  font-size: 12px;
  font-weight: 700;
  color: #535766;
  margin: 24px 0 12px;
}
.giftWrap-base-content {
  background: #fff1ec;
  padding: 12px 12px 12px 63px;
  font-size: 12px;
  position: relative;
  border-radius: 4px;
  line-height: 16px;
}
.giftWrap-base-gift {
  position: absolute;
  top: -1px;
  left: 10px;
}
.imageBanner-base-container {
  display: inline-block;
}
.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.giftWrap-base-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1px;
}
svg:not(:root) {
  overflow: hidden;
}
.giftWrap-base-rupeeIcon {
  height: 8px;
}
.css-8bt89l {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  border-width: 0px;
  background-color: transparent;
  color: rgb(255, 63, 108);
  padding: 0px;
  cursor: pointer;
}
.css-xjhrni {
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}
.donationStrip-base-desktopHeader {
  margin: 12px 0 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #535766;
}
.donationStrip-base-bodyContainer {
  background: #fff;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #f5f5f6;
}

.donationStrip-base-desktopBodyContainer {
  padding-bottom: 24px;
  margin-bottom: 16px;
}
.donationStrip-base-titleContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}
svg:not(:root) {
  overflow: hidden;
}
.donationStrip-base-icon {
  margin-right: 16px;
}
.donationStrip-base-pillContainer {
  margin: 20px 0 8px;
}
.pillView-base-pillsDesktopContainer {
  flex-wrap: wrap;
}
.pillView-base-pillsContainer {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
}
.pillView-base-pill {
  cursor: pointer;
  border-radius: 40px;
  margin: 0 8px 12px 0;
  white-space: nowrap;
  height: fit-content;
}
.pillView-base-normalPill {
  border: 1px solid #d4d5d9;
  color: #282c3f;
}
.donationStrip-base-pill {
  line-height: 1.15;
  margin: 0 12px 8px 0 !important;
}
.pillView-base-textStyle {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  line-height: 1.15;
}
.donationStrip-base-desktopKnowMore {
  color: #ff3f6c;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
}
.priceBlock-base-container {
  margin-bottom: 16px;
}
.priceBlock-base-priceHeader {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}
.priceBreakUp-base-orderSummary {
  font-size: 14px;
}
.priceDetail-base-redesignRow,
.priceDetail-base-row {
  margin-bottom: 12px;
  line-height: 16px;
}
.priceDetail-base-value {
  float: right;
}
.priceDetail-base-discount {
  color: #03a685;
}
.priceDetail-base-value {
  float: right;
}
.priceDetail-base-redesignRow,
.priceDetail-base-row {
  margin-bottom: 12px;
  line-height: 16px;
}
.priceDetail-base-action {
  font-size: 14px;
  color: #ff3f6c;
  cursor: pointer;
}

.priceDetail-base-value {
  float: right;
}
.priceDetail-base-knowMore {
  margin-left: 8px;
  color: #ff3f6c;
  font-weight: 700;
}
.priceDetail-base-value {
  float: right;
}
.priceDetail-base-discount {
  color: #03a685;
}
.priceDetail-base-convenienceCalloutText {
  color: #686b79;
  font-size: 12px;
}
.priceDetail-base-total {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}
.priceDetail-base-value {
  float: right;
}
.priceDetail-base-redesignRupeeTotalIcon {
  font-size: 16px;
  font-weight: 400;
}
.css-ibwr57 {
  font-size: 14px;
  padding: 10px 16px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2px;
  border-width: 0px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.css-xjhrni {
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}
