* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 27px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 3.5px solid #f54e77;
  transition: border-bottom 0.4s ease;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
  height: 40px;
  margin: 20px 30px 0 10px;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282c3f;
}

/* Main section */
.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items,
.items-container {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

.items-container {
  width: 80%;
  margin: 40px 10%;
}
.item-container {
  width: 250px;
  margin: 10px;
}
.item-image {
  width: 100%;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color: black;
}

.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/*main section*/

.banner_containerNEW {
  margin: 40px 0;
}

.banner-imgNEW {
  width: 100%;
}

.category_headingNEW {
  color: #3e4152;
  letter-spacing: 0.15rem;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_itemsNEW {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_itemNEW {
  width: 250px;
}
.discount-button {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  right: 0;
  border: none;
  -webkit-font-smoothing: antialiased;
}
.discount-text {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  width: 36px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  font-size: 21.5px;
  font-weight: 700;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #fcfcfc;
  display: inline-block;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.arrow {
  border-right: 14px solid #fff;

  width: 0;
  height: 0;
  margin: 24px 16px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.arrowSecond {
  border-right: 14px solid #fff;
  width: 0;
  height: 0;
  margin: 24px 16px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transform: rotate(180deg); /* Add this line */
}

.FreeShippingBanner-description {
  display: table-cell;
  vertical-align: middle;
  padding: 24px 0 0 40px;
  height: 149.75px;
  width: 300.69px;
}

.FreeShippingBanner-image {
  display: table-cell;
  vertical-align: middle;
  padding: 24px 40px 0 0;
  height: 149.75px;
  width: 275.31px;
}

.FreeShippingBanner-coupon {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  height: 92px;
  width: 304.35px;
}

.FreeShippingBanner-signup {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-right: 40px;
  height: 92.15px;
  width: 271.65px;
}
.FreeShippingBanner-imageContent {
  width: 150px;
  height: 120px;
}
.FreeShippingBanner-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.FreeShippingBanner-text {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 172px;
  display: inline-block;
  line-height: 48px;
}

.FreeShippingBanner-coupon .FreeShippingBanner-text {
  font-weight: 700;
  font-size: 15px;
  margin-top: 8px;
}

.full-block {
  height: 288px;
  width: 576px;
}

.FreeShippingBanner-text {
  font-size: 13px;
  font-weight: 700;
  margin-left: 12px;
}

.FreeShippingBanner-header {
  font-size: 48px;
  font-weight: 700;
}

.FreeShippingBanner-pre-header {
  font-weight: 700;
  font-size: 12px;
}

.FreeShippingBanner-code {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: text;
  user-select: all;
}

.FreeShippingBanner-banner-expanded {
  position: fixed;
  bottom: 130px;
  right: 0;
  width: 576px;
  height: 288px;
  background-image: linear-gradient(270deg, #fef9e5, #fde3f3);
  z-index: 6;
  font-family: Assistant;
  color: #3e4152;
  cursor: default;
}

.FreeShippingBanner-first-row {
  display: table;
  table-layout: auto;
  height: 52%;
  width: 100%;
}

.FreeShippingBanner-second-row {
  display: table;
  table-layout: auto;
  height: 32%;
  width: 100%;
}
.FreeShippingBanner-footer {
  font-size: 12px;
  margin-top: 4px;
}

.FreeShippingBanner-header-primary {
  font-size: 48px;
}
.FreeShippingBanner-header-secondary {
  font-size: 34px;
}
.FreeShippingBanner-button {
  width: 172px;
  height: 48px;
  border-radius: 4px;
  background-color: #ff3f6c;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.FreeShippingBanner-bannerExpanded {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  right: 575px;
  border: none;
}

.FreeShippingBanner-trust-builders {
  display: table;
  table-layout: auto;
  border-top: 1px solid #d3d3d3;
  height: 16%;
  width: 100%;
}

.myntracoupan {
  display: flex;
  align-items: center;
  height: 23.2px;
  width: 264.35px;
}
.myntracoupan {
  display: flex;
  align-items: center;
  width: auto;
}

.FreeShippingBanner-textFor {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: auto;
  display: inline-block;
  line-height: 48px;
}

.FreeShippingBanner-codeFor {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: text;
  user-select: all;
  font-size: 18px;
  font-weight: 700;
  color: #3e4152;
}

.headerEmptyBag {
  border-bottom: 1px solid #f5f5f6;
  font-size: 12px;
  font-weight: 600;
  height: 78.8px;
  width: 1519.2px;
}

.headerEmptyBag .container {
  line-height: 78px;
}

.site-nav-container {
  background-color: #fff;
  width: 1397.66px;
  min-height: 78px;
  max-width: 92%;
  margin: auto;
}
.headerEmptyBag.checkout-steps {
  margin: 0 0 0 34%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
  height: 21.6px;
  width: 5590.6px;
}

.headerEmptyBag .checkout-steps .active {
  color: #20bd99;
  border-bottom: 2px solid #20bd99;
}
.headerEmptyBag .checkout-steps .step1 {
  margin: 0 5px 0 0;
}
.headerEmptyBag .checkout-steps .step {
  display: inline-block;
  letter-spacing: 3px;
}

.headerEmptyBag .checkout-steps .divider {
  display: inline-block;
  border-top: 1px dashed #696b79;
  height: 4px;
  width: 10%;
}
.headerEmptyBag .checkout-steps .step2 {
  margin: 0 5px 0 6px;
}

.headerEmptyBag .checkout-steps .step {
  display: inline-block;
  letter-spacing: 3px;
}
.headerEmptyBag .checkout-steps .steppayment {
  margin: 0 0 0 7px;
}

.headerEmptyBag .secureContainer {
  float: right;
  max-height: 78px;
}
.secureIcon {
  height: 28px;
  width: 26px;
}

.headerEmptyBag .secureContainer .secureIcon {
  margin: -7px 5px 0 0;
}

.headerEmptyBag .secureContainer .secure {
  float: right;
  letter-spacing: 3px;
  color: #535766;
  margin: 0 20px 0 0;
}

.page {
  height: 600px;
  width: 1519.2px;
}

.desktop-base-emptyCart {
  max-width: 650px;
  margin: 24px auto;
}
.emptyCart-base-mainContainer {
  min-height: 600px;
  position: relative;
  background-color: #fff;
}

.emptyCart-base-subContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 400px;
  text-align: center;
}
.emptyCart-base-emptyBagImage {
  margin-bottom: 10px;
  margin-top: 10px;

  background: none;
  height: 165px;
  width: 146px;
}
.imageBanner-base-container {
  display: inline-block;
}

.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.emptyCart-base-emptyText {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
}
.emptyCart-base-emptyDesc {
  font-size: 14px;
  color: #7e818c;
}
.emptyCart-base-addFromWishlist {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}

.emptyCart-base-addFromWishlist .emptyCart-base-wishlistButton {
  background: #fff;
  color: #ff3f6c;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #ff3f6c;
  display: inline-block;
}

.button-base-button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  background: #ff3f6c;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
}

/* EmptyBag.css */

.site-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-steps {
  margin: 0 0 0 15%;
  width: 40%;
  color: #696b79;
  padding: 0;
  display: inline-block;
  line-height: 20px;
}

.checkout-steps li {
  margin-right: 10px;
}

.secure-container {
  display: flex;
  align-items: center;
}

.secure-icon {
  margin-right: 5px;
}
